<header class="container">
  <section class="row">
    <h1 class="col-3">Palak Hazare</h1>
    <div class="col-3 ms-auto">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="text-right">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <h5 class="" aria-current="page"
                  >About</h5
                >
              </li>
              <li class="nav-item">
                <h5 class="" aria-current="page"
                  >About</h5
                >
              </li>
              <li class="nav-item dropdown">
                <h5 class="" aria-current="page"
                  >About</h5
                >
              </li>
              <li class="nav-item">
                <h5 class="" aria-current="page"
                  >About</h5
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>
</header>
