.dashboard-container {
  position: relative;
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(51, 51, 51, 0.8); 
    color: white; 
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    transition: background-color 0.3s; 
    &:hover {
      background-color: #555; 
    }
  }
  z-index: 1;
  text-align: center;

  h1, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}
.header-container {
  .navbar {
    background: transparent !important;
    color: #ffffff;
    .cursor-pointer {
      cursor: pointer;
    }
  }
}
.intro-container {
  .profile-pic {
    background: transparent;
  }
  .btn-container {
    button {
      width: 160px;
      font-size: 15px;
      line-height: 2;
    }
  }
}
.skills-container {
  .skills-section {
    img {
      width: 25px;
      margin-right: 5px;
    }
    font-size: 16px;
  }
}
