<div class="dashboard-container">
  <button class="scroll-to-top" *ngIf="showScrollButton" (click)="scrollToTop()">
    <i class="bi bi-arrow-up"></i> 
  </button>
  <header class="container">
    <section class="row header-container mt-5 align-items-center">
      <h2 class="col-5">Palak Hazare</h2>
      <div class="col-7">
        <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-end">
          <div class="text-right">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-3 cursor-pointer">
                  <h5 class="" aria-current="page" (click)="scrollTo('about')">About</h5>
                </li>
                <li class="nav-item px-3 cursor-pointer">
                  <h5 class="" aria-current="page" (click)="scrollTo('skills')">Skills</h5>
                </li>
                <li class="nav-item px-3 cursor-pointer">
                  <h5 class="" aria-current="page">Experience</h5>
                </li>
                <li class="nav-item px-3 cursor-pointer dropdown">
                  <h5 class="" aria-current="page">Project</h5>
                </li>
                <li class="nav-item px-3 cursor-pointer">
                  <h5 class="" aria-current="page" (click)="scrollTo('contact')">Contact</h5>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </section>
  </header>
  
  <section class="row intro-container my-5">
    <div class="col-6 justify-content-end align-content-around">
      <div class="profile-picture-container text-center">
        <img
          src="./assets/file.png"
          alt=""
          class="img-thumbnail profile-pic rounded-circle w-50"
        />
      </div>
    </div>
    <div class="col-6 justify-content-start align-content-around">
      <div class="intro text-center">
        <div>Hello, I'm</div>
        <h2>Palak Hazare</h2>
        <h6>Frontend Developer</h6>
        <div class="btn-container d-flex justify-content-evenly mt-4">
          <button class="btn btn-outline-primary rounded-5">
            Download Resume
          </button>
          <button class="btn btn-primary rounded-5">Contact Info</button>
        </div>
      </div>
    </div>
  </section>
  <section class="about-me-container my-5 text-center" id="about">
    <h2>About Me</h2>
    <div class="d-flex gap-5 justify-content-center mt-4">
      <div class="w-25">
        <div class="card p-3">
          <i class="bi bi-briefcase fs-4"></i>
          <h5>Experience</h5>
          <div>9+ years</div>
          <div>Frontend Development</div>
        </div>
      </div>
      <div class="w-25">
        <div class="card p-3">
          <i class="bi bi-mortarboard fs-4"></i>
          <h5>Education</h5>
          <div>Information Technology</div>
          <div>Bachelor of Engineering</div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center text-center mt-4">
      <p class="w-75">
        Highly motivated IT professional with over 9 years of experience as a
        Frontend Developer, having worked in diverse domains such as Banking,
        Artificial Intelligence, Cryptocurrency, and Insurance. I specialize in
        Angular and am proficient in HTML5, CSS3, Bootstrap, jQuery, JavaScript,
        RxJs, and Sass, along with experience in hybrid mobile app development
        using Apache Cordova. With a proven ability to collaborate effectively
        with clients and senior stakeholders, I have successfully handled on-site
        project development and communicated with CTOs and Directors throughout
        the software development life cycle. Adaptable and technically proficient,
        I thrive in challenging roles, driven by a strong technical background.
      </p>
    </div>
  </section>
  <section class="skills-container text-center my-5"  id="skills">
    <div class="p-4">
      <h2 class="mb-4">Skills</h2>
      <div class="row skills-section">
        <div class="col-4">
          <div class="px-5">
            <ul class="list-unstyled">
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/angular.svg" alt="">
                <span>Angular</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/javascript.svg" alt="">
                <span>JavaScript</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/typescript.svg" alt="">
                <span>Typescript</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/jquery.svg" alt="">
                <span>jQuery</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="px-5">
            <ul class="list-unstyled">
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/redux.svg" alt="">
                <span>Redux</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/rxjs.svg" alt="">
                <span>RxJs</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/html.svg" alt="">
                <span>HTML</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/css.svg" alt="">
                <span>CSS</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="px-5">
            <ul class="list-unstyled">
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/sass.svg" alt="">
                <span>SCSS</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/cordova.svg" alt="">
                <span>Apache Cordova</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/sql.svg" alt="">
                <span>SQL</span>
              </li>
              <li class="align-items-center justify-content-start d-flex pb-2">
                <img src="./assets/core-java.svg" alt="">
                <span>Core Java</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-container my-5" id="contact">
    <h2 class="text-center mb-4">Get in Touch</h2>
    <div class="row px-3">
      <div class="col-4">
        <div class="card text-center">
          <i class="bi bi-envelope fs-1 text-primary"></i>
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">{{ email }}</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <i class="bi bi-telephone fs-1 text-primary"></i>
          <div class="card-body">
            <h5 class="card-title">Phone</h5>
            <p class="card-text">+1 (587) 936-3893</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <i class="bi bi-linkedin fs-1 text-primary"></i>
          <div class="card-body">
            <h5 class="card-title">LinkedIn</h5>
            <a
              href="https://www.linkedin.com/in/palak-hazare-5636a259/"
              class="card-text"
              >View Profile</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
